@import 'variables.css';

body {
    margin: 0;
    padding: 0;
    inset:0;
    background-color: var(--black);
    color: var(--white);
    font-family: saira, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
h1{
    font-family: BandeinsStrange, sans-serif;
    line-height: 1.2;
    font-size: 5rem;
    font-weight: 400;
}
#Name{
    font-family: BandeinsStrange, sans-serif;
    color: var(--white);
    line-height: 1.2;
    font-size: 4rem;
    font-weight: 200;
    font-stretch:50;
    transition: all 250ms ease-in-out;
}
#Name:hover{
    cursor: pointer;
    font-stretch:500%;
}


p{
    color: var(--light-gray);
    font-size: 1.25rem;

}
a{
    font-family: BandeinsStrange, sans-serif;
/*     font-family: BandeinsSans, sans-serif; */
    color: var(--white);
    text-decoration: none;
    transition: all 250ms ease-in-out;
}
a:hover{
  font-stretch:300%;
  font-weight: 600;
}
